{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
    
<h1>Pets</h1>
<div class="box">
    {% for pet in pets %}
    <div class="box-t">
        <div class="imgs">
           <a href="/{{pet.id}}"> <img src="{{ pet.photo_url }}" alt=""></a>
            <div class="tg"> 
                <a href="/{{pet.id}}">{{pet.name}}</a>
                {% if pet.available %}
                    is available
                    {% else %} 
                    is unavailale
                    {% endif %}
            </div>
        </div> 
    </div>
    {% endfor %}
    
    <div class="buttons">   
    <a href="/add" class="btn btn-md active" role="button">Add Pet</a>
    </div>
</div>

{% endblock %}